@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* css-variables */
:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

/* general styles */
body {
  color: var(--color-primary-dark);
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* header styles */

/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* main styles */

/* hero section */
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages section */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}

/* section title */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* traditions section */
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* chefs section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* format-section */
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* footer styles */

/* address-link */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-copyright {
  font-size: 14px;
}
